* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*-----  Search box  --------*/

form {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;



}

form input {
    font-family: 'Noto Sans JP';
    font-size: 1em;
    flex-basis: 45%;
    height: 45px;
    border-radius: 5px;
    border-color: rgb(206, 206, 206);
    color: rgb(60, 60, 60);
    padding-left: 10px;
    border-style: solid;
}




/*-----  Gallery  --------*/
main {
    margin: 0 auto;
    width: 68%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5em;

}






img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
}